<div class="main">

  <!-- Sing in  Form -->
  <section class="sign-in">
      <div class="container">
          <div class="signin-content">
              <div class="signin-image">
                  <figure><img src="../assets/images/logo-sacco.png" alt="sing up image"></figure>
                  <h2>ALPHA MANAGEMENT SYSTEM</h2>
              </div>

              <div class="signin-form">
                  <h2 class="form-title">Sign In</h2>
                  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" id="login-form">
                      <div class="form-group" *ngIf="authMessage" class="alert alert-danger" role="alert"> 
                        {{authMessage}}
                      </div>
                      <div class="form-group">
                          <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                          <input type="text" ngModel name="userName" id="your_name" placeholder="User Name" required/>
                      </div>
                      <div class="form-group">
                          <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                          <input type="password" ngModel name="password" id="your_pass" placeholder="Password" required/>
                      </div>
                      <div class="form-group form-button">
                          <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                      </div>
                  </form>
                  <span>Forgot Password?
                    <a (click)="openForm('reset')" style="cursor: pointer; color: aqua;">Reset</a>
                  </span>
                 
              </div>
          </div>
      </div>
  </section>

</div>