<div class="card text-center">
    <div class="card-body" style="overflow: scroll;">
      <h4 class="card-title">Bulk Loan Upload</h4>
      <!-- <p class="card-text">Create csv file with the following fields <b>lastName,occupation,email,phoneNumber,externalId,address,accountBalance,altPhoneNumber,documentNumber,dob,externalStartDate</b></p> -->
      <form #fileUploadForm="ngForm" id="uploadedfileForm">
       
          <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
      
      </form>    
        <table class="table"  *ngIf="records.length > 0">
          <thead class="thead-dark" >
            <tr>
                <th scope="col">Customer Name</th>
                <th scope="col">Document Number</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Loan Ref</th>
                <th scope="col">Loan Status</th>
                <th scope="col">Loan Amount</th>
                <th scope="col">Loan Interest</th>
                <th scope="col">Penalties</th>
                <th scope="col">Balance</th>
                <th scope="col">Commencement Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Product Name</th>
              </tr>
          </thead>
          <tbody>
          <tr *ngFor="let record of records | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
          <!-- <tr *ngFor="let record of records;let i = index;"> -->
              <th scope="row">{{record.customerName}}</th>
              <td>{{record.documentNumber}}</td>
              <td>{{record.phoneNumber}}</td>
              <td>{{record.loanRef}}</td>
              <td>{{record.loanStatus}}</td>
              <td>{{record.loanAmount}}</td>
              <td>{{record.interest}}</td>
              <td>{{record.penalties}}</td>
              <td>{{record.balance}}</td>
              <td>{{record.commencementDate}}</td>
              <td>{{record.dueDate}}</td>
              <td>{{record.productName}}</td>
            </tr>
         
          </tbody>
          <div>
            <label for="pageSize">Items per page:</label>
            <select id="pageSize" [(ngModel)]="itemsPerPage" (change)="onPageSizeChange($event)">
              <option *ngFor="let size of pageSizes" [value]="size">{{size}}</option>
            </select>
          </div>
        </table>
        <pagination-controls (pageChange)="page = $event" *ngIf="records.length > 0"></pagination-controls>
        <a href="javascript:;" *ngIf="records.length > 0" (click)="uploadLoanBook()" class="btn btn-primary">Upload</a>
      
        <a href="javascript:;" *ngIf="records.length > 0" (click)="fileReset()" class="btn btn-primary">Reset </a>  
    </div>
</div>