<div class="container" id="addProductContainer">
    <form class="navbar-form">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </form>
     
      <button type="button" class="btn btn-outline-primary radius-15" (click)="onOpenModel(ProductEmpty,'add')">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </button>  
      <!-- add Product form -->
      <div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="nav-tabs-navigation">
              <h5 class="modal-title" id="exampleModalLongTitle">Add a Product</h5>
            </div>
            <div class="card-header" role="tab" id="headingOne">
              <a data-toggle="collapse" data-parent="#accordion" href="#productinfo" aria-expanded="true" aria-controls="collapseOne">
                Product Info
              </a>
          </div>
          <div class="card-header" role="tab" id="headingTwo">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Default Charge
                </a>
            </div>
        </div>
        <div class="card-body ">
          <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
            
              
                  <form #addProductForm="ngForm" (ngSubmit)="onAddProduct(addProductForm)" id="bioData">
                    <div id="productinfo" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="modal-body">
                         Product Name<input type="text" class="form-control"  name="name" id="" placeholder="name">
                        Code<input type="text" class="form-control"  name="code" id="" placeholder="code">
                        TransactionType<input type="text" class="form-control"  name="transactionType" id="" placeholder="transactionType">
                        Term in Days<input type="number" class="form-control"  name="term" id="" placeholder="term">
                      <input type="hidden" class="form-control"  name="timeSpan" id="" placeholder="timeSpan">
                      Interest %<input type="number" class="form-control"  name="interest" id="" placeholder="interest">
                      MaxLimit<input type="number" class="form-control"  name="maxLimit" id="" placeholder="maxLimit">
                      MinLimit<input type="number" class="form-control"  name="minLimit" id="" placeholder="minLimit">
                      Active(status)
                      <input type="radio"  name="active" value=true>Yes
                      <input type="radio"   name="active" value=false>No
                    </div>
                  </div>
                  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body">
                      Charge Name<input type="text" class="form-control"  name="cname" value="DEFAULT_PENALTY" placeholder="Charge name" readonly>
                      Days after Default<input type="text" class="form-control"  name="dac" value=0 placeholder="Days">
                      Rate in % <input type="number" class="form-control"  name="rate" value=0 placeholder="Rate" required>
                      Interval<input type="number" class="form-control"  name="interval" value=1 placeholder="Interval">
                      <select class="form-control form-control-lg" name="intervalUnit" id="unit">
                        <option value="HOURS">HOURS</option>
                        <option value="DAYS" selected>DAYS</option>
                        <option value="MONTHS">MONTHS</option>
                        <option value="YEARS"YEARS></option>
                      </select>
                    
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="closebtn" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" [disabled]="addProductForm.invalid" class="btn btn-primary">Save Product</button>
                  </div>
                </form>
              
            
          </div>
          </div>
        </div>
      </div>
        <!-- update Product form -->
        <div class="modal fade" id="updateProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Update Product</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form #updateProductForm="ngForm">
                    <div class="modal-body">
                        <input type="hidden" class="form-control" ngModel="{{updateProduct?.id}}" name="id">
                        Name<input type="text" class="form-control" ngModel="{{updateProduct?.name}}" name="name" id="" placeholder="name">
                        Code<input type="text" class="form-control" ngModel="{{updateProduct?.code}}" name="code" id="" placeholder="code">
                        TransactionType<input type="text" class="form-control" ngModel="{{updateProduct?.transactionType}}" name="transactionType" id="" placeholder="transactionType">
                      Term in Days<input type="number" class="form-control" ngModel="{{updateProduct?.term}}" name="term" id="" placeholder="term">
                      <input type="hidden" class="form-control" ngModel="{{updateProduct?.timeSpan}}" name="timeSpan" id="" placeholder="timeSpan">
                      Interest %<input type="number" class="form-control" ngModel="{{updateProduct?.interest}}" name="interest" id="" placeholder="interest">
                      MaxLimit<input type="number" class="form-control" ngModel="{{updateProduct?.maxLimit}}" name="maxLimit" id="" placeholder="maxLimit">
                      MinLimit<input type="number" class="form-control" ngModel="{{updateProduct?.minLimit}}" name="minLimit" id="" placeholder="minLimit">
                      <input type="hidden" class="form-control" ngModel="{{updateProduct?.active}}" name="active" id="">
                    
                    </div>
                    <div class="modal-footer">
                      <button type="button" id="closebtn" class="btn btn-secondary" data-dismiss="modal" id="updateFormClose">Close</button>
                      <button type="submit" (click)="onUpdateProduct(updateProductForm)" class="btn btn-primary">Save Product</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
            <!-- toggle Product form -->
      <div class="modal fade" id="toggleProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Toggle Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Change Accont Status</p>
              <select class="form-control" name="isActive" id=""><option value="">ACTIVE</option><option value="">INACTIVE</option></select>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Confirm</button>
            </div>
          </div>
        </div>
      </div>
        
    <div class="d-grid"> 
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Product Code</th>
                    <th>Active</th>
                    <th>Max Value</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Product of Products">
                     <td> {{Product.name}}</td>
                     <td> {{Product.code}}</td>
                     <td> {{Product.active}}</td>
                     <td>Ksh {{Product.maxLimit}}</td>
                    <td class="td-actions text-right">
                        <button type="button" rel="tooltip" class="btn btn-success" (click)="onOpenModel(Product,'updateProduct')">
                            <span class="material-icons">visibility </span>
                        </button> &nbsp;
                      
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  